/*===============Contact================*/

.contact-area {
    position: relative;
    margin-top: 120px;

    .ca-content {
        position: relative;

        h1{
            font-size: 50px;
            margin-bottom: 20px;
        }

        p{
            margin-bottom: 15px;
        }

        .contact-info {
            position: relative;
            width: 100%;
            margin-top: 30px;

            p{
                width: 50%;
                float: left;

                i{
                   position: relative;
                    background: #fff;
                    margin-right: 10px;
                    padding: 5px 7px;
                    -webkit-box-shadow:0px 3px 10px 0px rgba(0,0,1,0.08);
                    -moz-box-shadow: 0px 3px 10px 0px rgba(0,0,1,0.08);
                    box-shadow: 0px 3px 10px 0px rgba(0,0,1,0.08);
                }
            }
        }
    }

    .information {
        position: relative;
        background: #F6F6F6;
        padding: 50px 40px 45px;

            form{

                .form-group {
                    margin-bottom: 20px;
                    
                label {
                        color: #282725;
                        font-weight: 600;
                    }

                    input {
                        height: 50px;
                        font-size: 14px;
                        padding: 10px 20px;
                    }

                    textarea{
                        position: relative; 
                        font-size: 14px;
                        padding: 10px 20px;
                    }
                }
            }

        .btn-1 {
            position: relative;
            padding: 14px 38px;
            color: white;
            background: #54514C;
            min-width: 145px;
            border: 0;
            margin-top: 15px;
        }

    }
}
/*===============Contact================*/