// Variables

//Font Variables
$Font1: 'Playfair Display', serif;
$Font2:  'Source Sans Pro', sans-serif;
$Font3:'Poppins', sans-serif;
$Font4: 'Oswald', sans-serif;

// Color Variables
$Color1: #FFF9F2;
$Color2: #54514C;
$Color3: #282725;
$Color4: #F97C50;
$Color5: #ffffff;
$Color6:#86817D;

// Background color
$tertiaryColor:#dcbc95;
$btnbgColortr:transparent;
//$btnhover1:#ffcc62;

